<div class="container">
    <h1>
        Lipstick CSS
        <small class="text-muted">add a little makeup</small>
    </h1>
    <div class="row pt-3 border-top border-secondary ">
        <div class="col-8">
            <h3 class="text-primary">
                Fancy Product title
                <span class="badge badge-secondary">New</span>
            </h3>
            <div class="row">
                <y-banner class="col-6"></y-banner>
                <div class="col-6">
                    <y-product-rating></y-product-rating>
                    <y-product-intro></y-product-intro>
                    <y-add-to-card class="float-right"></y-add-to-card>
                </div>
            </div>
        </div>
        <div class="col-4">
            <app-css-var-config></app-css-var-config>
        </div>

    </div>

</div>
