<link *ngIf="fontUrl" rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(fontUrl)'>

<div class="bg-light p-4">
  <h3 class="text-primary">Runtime theme configuration</h3>
  <p class="text-muted">
    This section provides runtime configuration of a few inputs, demonstrating the styles are dynamically bound to CSS vars
  </p>
  <form (submit)="save()" (change)="save()" class="p-2">
    <div class="form-row">
      <label for="primaryColor">Primary color</label>
      <input [(colorPicker)]="primaryColor" cpPosition="bottom" [style.background]="primaryColor" (colorPickerChange)="save()"
      />
    </div>
    <div class="form-row">
      <label for="secondaryColor">Secondary color</label>
      <input [(colorPicker)]="secondaryColor" cpPosition="bottom" [style.background]="secondaryColor" (colorPickerChange)="save()"
      />
    </div>
    <div class="form-group">
      <label for="fontFamily">Font Family</label>
      <select class="form-control" name="fontFamily" [(ngModel)]="fontFamily" id="fontFamily">
        <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
      </select>
    </div>
    <div class="form-row">
      <label for="borderRadius">borderRadius</label>
      <input class="form-control" id="borderRadius" name="primary" [(ngModel)]="borderRadius" placeholder="Border Radius">
    </div>

  </form>
</div>