<div class="jumbotron">

  <form (submit)="save()" (change)="save()" class="border">
    <div class="form-row">
      <div class="col">
        <label for="primaryColor">Primary color</label>
        <input type="color" class="form-control" id="primaryColor" name="primary" [(ngModel)]="primaryColor" placeholder="Primary color">
      </div>
      <div class="col">
        <label for="borderRadius">borderRadius</label>
        <input class="form-control" id="borderRadius" name="primary" [(ngModel)]="borderRadius" placeholder="Border Radius">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>